<section class="card">
  <a href="/image/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      {{#if url}}
      <p>at: {{url}}</p>
      {{/if}}
    </div>
  </a>
</section>
