<a href="/pic/{{id}}">
  <article class="skater skater-1">
      <img src="/images/process_images/{{filename}}" alt="{{description}}">

      <div class="skater-bio text-left">
        <h3>{{title}}</h3>
        <!-- <h4>Speed / Strength</h4> -->
        <p>{{description}}</p>
      </div>
  </article>
</a>

