<section class="cell small-12 flex-container flex-dir-column large-flex-dir-row">
  <div class="callout warning flex-child-auto media-object align-center">
      <div class="media-object-section">
        <a href="/skatepark/{{id}}" class="thumbnail">
          <header>
            <h2>{{name}}</h2>
          </header>
          <img src="/images/process_images/{{pics.[0].filename}}" alt="{{pics.[0].description}}">
        </a>
      </div>
  </div>
  <div class="callout alert flex-child-auto media-object align-center">
    <div class="media-object-section">
        <h3 class="subheader flavor-text">Location:</h3>
        <p class="lead flavor-text">{{location}}: Center of Map</p>
        <div class="responsive-embed">
          <iframe 
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d12652.715580887856!2d{{lon}}!3d{{lat}}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s2621%20W%20Cary%20St%20Uppr!5e0!3m2!1sen!2sus!4v1637711150175!5m2!1sen!2sus/"
            style="border:0;"
            width="420"
            height="315"
            frameboard="0"
            allowfullscreen
            loading="lazy">
          </iframe>
        </div>
    </div>
  </div>
</section>